* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.flex {
  display: flex;
}
.f-d-column {
  flex-direction: column;
}
.f-w-wrap {
  flex-wrap: wrap;
}
.j-c-space-between {
  justify-content: space-between;
}
.j-c-space-around {
  justify-content: space-around;
}
.j-c-center {
  justify-content: center;
}
.content {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d;
}
.img-body {
  width: 60px;
  margin: 60px;
}
.img-body-html {
  width: 96px;
  margin: 40px;
}
.img-h {
  width: 40px;
  margin-left: 85px;
}
/* Navigation */
.navigation {
  width: 60px;
  height: 100vh;
  background: #181818;
}
.navigation img {
  width: 60px;
  cursor: pointer;
}

.nav-content button {
  background: none;
  border: none;
  color: #909096;
  cursor: pointer;
  font-size: 30px;
  margin: 15px 0px;
  outline: none;
}
.comment {
  display: none;
  color: #08fdd8;
  font-size: 10px;
}
button:hover .replies {
  display: none;
}
button:hover .comment {
  display: inline;
}
.nav-social {
  margin: 0 auto;
  margin-bottom: 10px;
}
.nav-social a {
  padding: 10px;
  font-size: 20px;
  color: #909096;
}
.nav-social a:hover {
  color: #08fdd8;
}
/* End Navigation */
.about,
.work,
.contact,
.games {
  display: none;
}
/* Home */
.home button {
  width: 190px;
  height: 44px;
  margin-left: 100px;
  margin-bottom: 70px;
  font-size: 18px;
  background: none;
  border: 1px solid #08fdd8;
  color: #08fdd8;
  outline: none;
  cursor: pointer;
  letter-spacing: 4px;
}
.home button:hover {
  background: #08fdd8;
  color: #1d1d1d;
}
.selected-element {
  margin-left: 100px;
  font-size: 23px;
  opacity: 0;
  transform: rotate(180deg);
  transition: 500ms;
  transform: scale(3, 2);
}
.selected-element.animate {
  opacity: 1;
  transform: rotate(0deg);
}
.selected-element img {
  width: 37px;
}
.selected-element h1 {
  display: inline-block;
  letter-spacing: -5px;
  color: #fff;
}
.selected-element h1:hover {
  animation: jumping 1s;
  color: #08fdd8;
  cursor: pointer;
}
@keyframes jumping {
  25% {
    transform: scale(1.2, 0.8);
  }
  28% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.8);
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.home h3 {
  margin-left: 100px;
  margin-bottom: 28px;
  color: #5c5c5c;
}

.spinner-one {
  position: absolute;
  right: 35%;
  top: 15%;
}
.spinner-two {
  position: absolute;
  right: 35%;
  top: 45%;
}
.spinner-three {
  position: absolute;
  right: 35%;
  top: 75%;
}
.ball {
  height: 50px;
  width: 50px;
  position: absolute;
}
.ball::before {
  content: "";
  height: 100%;
  width: 100%;
  background: #08fdd8;
  border-radius: 50%;
  position: absolute;
}
.ball-1::before {
  transform: translateX(-150%);
  animation: 1s ease-out 0s infinite left;
}
.ball-2::before {
  transform: translateX(-50%);
}
.ball-3::before {
  transform: translateX(50%);
}
.ball-4::before {
  transform: translateX(150%);
  animation: 1s ease-out 0s infinite right;
}

@keyframes left {
  25% {
    transform: translateX(-250%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(-150%);
  }
}

@keyframes right {
  50% {
    transform: translateX(150%);
  }
  75% {
    transform: translateX(250%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(150%);
  }
}

.ball-two::before {
  background: rgba(8, 253, 216, 0.5);
  left: -100%;
  animation: position 2s infinite cubic-bezier(0.25, 0, 0.75, 1),
    size 2s infinite cubic-bezier(0.25, 0, 0.75, 1);
}
.ball-2-1::before {
  animation-delay: 0s, -0.5s;
}
.ball-2-2::before {
  animation-delay: -0.5s, -1s;
}
.ball-2-3::before {
  animation-delay: -1s, -1.5s;
}
.ball-2-4::before {
  animation-delay: -1.5s, -2s;
}

@keyframes position {
  50% {
    left: 100%;
  }
}

@keyframes size {
  50% {
    transform: scale(0.5, 0.5);
  }
}
/* End Home */

/* About */
.about {
  width: 50%;
}
.about .selected-element {
  margin-left: 100px;
  font-size: 23px;
  opacity: 0;
  transform: rotate(180deg);
  transition: 500ms;
  transform: scale(3, 2);
}
.about .selected-element.animate {
  opacity: 1;
  transform: rotate(0deg);
}
.about h1 {
  display: inline-block;
  letter-spacing: -5px;
  color: #08fdd8;
}
.about h1:hover {
  animation: jumping 1s;
  cursor: pointer;
}
.about-phara {
  margin-left: 100px;
  margin-bottom: 100px;
  font-size: 18px;
  color: #fff;
}
.about-phara p {
  margin-bottom: 20px;
}
#ghost {
  width: 400px;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  right: 13%;
  top: 25%;
}

#spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

#spooky #body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

#spooky #body:after {
  content: "";
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
  animation: floaty 0.2s infinite;
}

#spooky #body #eyes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 80px 0 0;
  width: 90px;
  height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

#spooky #body #mouth {
  background: #252c49;
  margin: 40px auto 0;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#spooky #body #feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
  content: " ";
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

#shadow {
  margin: -90px auto 0;
  background: #08fdd8;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes zoomy {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}
/* End About */

/* Work */
.work {
  width: 100%;
}
.item {
  overflow: hidden;
  margin: 15px 10px;
  width: 30%;
  height: 30vh;
  position: relative;
}
.item img {
  width: 100%;
}
.item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.item:hover iframe {
  opacity: 0.5;
}
.item:hover p {
  opacity: 1;
  background: #08fdd8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding-top: 37px;
  padding-left: 3px;
}

/* End Work */

/* GAMES */
.games {
  width: 100%;
}
.game {
  overflow: hidden;
  margin-left: 100px;
  margin-top: 40px;
  width: 30%;
  height: 30vh;
  position: relative;
}
.game p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.game:hover iframe {
  opacity: 0.5;
}
.game:hover p {
  opacity: 1;
  background: #08fdd8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding-top: 37px;
  padding-left: 8px;
}
.game:hover h2 {
  opacity: 1;
}
.game h2 {
  position: absolute;
  color: #08fdd8;
  padding: 10px;
}
/* END GAMES */

/* Contact */
.contact {
  width: 50%;
}
.contact h1 {
  display: inline-block;
  letter-spacing: -5px;
  color: #08fdd8;
}
.contact-field {
  margin-left: 100px;
  margin-bottom: 80px;
}
.contact-field p {
  font-size: 18px;
}
.contact-field i {
  font-size: 30px;
  color: #08fdd8;
  margin: 25px 0px;
}
.contact-field p {
  color: #fff;
  padding-top: 26px;
  padding-left: 13px;
}
.contact-field a {
  color: #1d1d1d;
}
.smile {
  color: #deb887 !important;
}
.email p {
  padding-top: 31px;
}
.contact-field span {
  font-size: 12px;
  color: #5f9ea0;
}
.gmap_canvas {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100vh;
  width: 40%;
  margin: 0px;
}
.contact iframe {
  width: 100%;
  height: 100vh;
}
/* End Contact */
